<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <title>Chat Room</title>
</head>

<body>
  <div class="chat-container">
    <header class="chat-header">
      <h1><i class="fas fa-smile"></i> Clique</h1>
      <div style="display: flex;">
        <form action="/delete-room" method="post">
          <input type="hidden" name="roomNumber" id="roomNumber" value="hello">
          <button type="submit" class="btn" style="background-color: red; color:white;">Delete Room</button>
        </form>
        <a href="/home" style="margin-left: 12px;" class="btn">Home</a>
      </div>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h3><i class="fas fa-users"></i> Friends </h3>
        <ul id="users"></ul>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="chat-messages">
      </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
        <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js"
    integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const chatMessages = document.querySelector('.chat-messages');
    const chatForm = document.querySelector('#chat-form');
    const roomName = document.getElementById('room-name');
    const userList = document.getElementById('users');
    const roomNumber = document.body.querySelector('#roomNumber')

    const { username, room } = Qs.parse(location.search, {
       ignoreQueryPrefix: true,
    });

    roomNumber.value = room;

    console.log(username, room);
    socket.emit('joinRoom', { username, room });

    socket.on('roomUsers', ({ room, users }) => {
      // outputRoomName(room);
      outputUsers(users);
    });

    chatForm.addEventListener('submit', e => {
      e.preventDefault();
      const msg = e.target.elements.msg.value;
      socket.emit('chatMessage', msg);
      e.target.elements.msg.value = '';
      e.target.elements.msg.focus();
    });

    socket.on('message', ({ user, text, date }) => {
      const div = document.createElement('div');
      div.classList.add('message');
      div.innerHTML = `<p class="meta">${user} <span>${date}</span></p>
        <p class="text">
          ${text}
        </p>`;
      chatMessages.appendChild(div);
      chatMessages.scrollTop = chatMessages.scrollHeight;
    });

      // function outputRoomName(room) {
      //   roomName.innerText = '#' + room;
      // }

    function outputUsers(users) {
      userList.innerHTML = `
  ${users.map(user => `<li>${user.username}</li>`).join('')}
  `;
    }
</script>
</body>

</html>
